@model IEnumerable<qlTiecCuoi.Models.DIchVu>

@{
    double tongtien = 0;
}
<table class="table" style="text-align:center;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        tongtien += item.DonGia;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDichVu)
            </td>
            <td>
                <img src="~/Content/assets/images/trang-tri/@Url.Content(item.HinhAnh)" style="width:100px; height:100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td><b>Tổng tiền:</b> @tongtien</td>
    </tr>
</table>