@model IEnumerable<qlTiecCuoi.Models.DIchVu>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDichVu)
        </td>
        <td>
            <img src="~/Content/assets/images/trang-tri/@Url.Content(item.HinhAnh)" style="width:150px; height:150px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDDichVu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDDichVu })
        </td>
    </tr>
}

</table>
