<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/logo1.png" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.min.css")
</head>
<body>
    <!-- ==== Header ==== -->
    <header class="header topbar">
        <div class="container">
            <nav>
                <ol class="header__nav">
                    <li class="header__nav--item header__nav--brand">
                        <a href="/">
                            <img src="~/Content/assets/images/logo1.png" title="" alt="" />
                        </a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/">TRANG CHỦ</a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/Home/About">GIỚI THIỆU</a>
                    </li>
                    <li class="header__nav--item header__nav--tiecCuoi">
                        <a id="link__tiecCuoi" href="javascript:void(0)">
                            TIỆC CƯỚI
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="header__dropdown dropdown">
                            <ol class="dropdown__menu" id="dropdown__menu--topbar">
                                <li class="dropdown__item">
                                    <a href="/Wedding/Hall">SẢNH TIỆC</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="/Wedding/Food">THỰC ĐƠN</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="/Wedding/Service">DỊCH VỤ</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="header__nav--item">
                        <a href="/Wedding/Picture">HÌNH ẢNH</a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/Wedding/Book">ĐẶT TIỆC</a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/Home/Contact">LIÊN HỆ</a>
                    </li>
                    <li class="header__nav--item header__nav--bill">
                        <a href="/">HÓA ĐƠN</a>
                    </li>
                    <li class="header__nav--item header__nav--user">
                        <a href="/">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/">ĐĂNG KÝ</a>
                    </li>
                    <li class="header__nav--item">
                        <a href="/">ĐĂNG NHẬP</a>
                    </li>
                </ol>
            </nav>
        </div>
    </header>
    <!-- ==== Background top ==== -->
    <div class="bg__top">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- ==== Body ==== -->
    <div class="body">
        @RenderBody()
    </div>
    <!-- ==== Partner ==== -->
    <div class="partner">
        <div class="partner__home">
            <div class="owl-carousel owl-theme owl-loaded partner__carousel">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-1.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-2.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-3.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-10.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-12.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-13.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="owl-item">
                            <a href="#">
                                <img src="~/Content/assets/images/partner/partner-14.png" title="" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==== Footer ==== -->
    <footer></footer>
    <!-- ==== Social ==== -->
    <div class="social">
        <button id="btn__social">
            <i class="fa fa-times" id="social__times"></i>
        </button>
        <ol class="social__home">
            <li class="social__item">
                <a class="social__link" href="#">
                    <i class="fa fa-facebook social__link--fb"></i>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <i class="fa fa-instagram social__link--instagram"></i>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <i class="fa fa-twitter social__link--twitter"></i>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <i class="fa fa-youtube social__link--youtube"></i>
                </a>
            </li>
        </ol>
    </div>


    <!-- ==================== -->
    <!-- ==================== -->
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    @RenderSection("scripts", required: false)   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @*<script src="~/Content/scripts/dropdownHeader.js"></script>
        <script src="~/Content/scripts/social.js"></script>*@

</body>
</html>
