@model qlTiecCuoi.Models.DatTiec

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DatTiec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sanhtiec.TenSanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanhtiec.TenSanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCoDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCoDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuRe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuRe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoBanDuTru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoBanDuTru)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
