@model qlTiecCuoi.Models.DatTiec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatTiec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sanhtiec.TenSanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanhtiec.TenSanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCoDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCoDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuRe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuRe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoBanDuTru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoBanDuTru)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDatTiec }) |
    @Html.ActionLink("Back to List", "Index")
</p>
